@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  background-color: #D0EAF1;
  font-family: 'Roboto', sans-serif;
}

b {
  color: #2a9537;
}

p {
  margin: 0;
}

#options {
  min-height: 40px;
  padding: 30px 80px;
  font-size: 1.5em;
  z-index: 10;
  display: grid;
  grid-template-columns: 50% 50%;
}

#datadisp {
  font-size: 0.75em;
  min-height: 26px;
  padding:12px 25px;
  z-index: 10;
  background-color: white;
  display: none;
}

#datadispbottom {
  font-size: 1em;
  min-height: 26px;
  padding:12px 25px;
  z-index: 11;
  background-color: white;
  position: relative;
  margin-top: 50px;
  text-align: center;
}

#map {
  z-index: 1;
}


.dropbtn {
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  z-index: 10;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  cursor: pointer;
  z-index: 10;
}

.dropdown-content .cont,
.dropdown-content .condition {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 0.7em;
}

.dropdown-content .cont:hover,
.dropdown-content .condition:hover {
  background-color: #e1edf2;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #e1edf2;
}

/* SVG classes */

.cls-1{fill:#2a9537;stroke-width:0.25px;}
.cls-1,.cls-11{stroke:#fff;}
.cls-1,.cls-10,.cls-11,.cls-2,.cls-6,.cls-7,.cls-8{stroke-miterlimit:10;}
.cls-2,.cls-8{stroke:#000;stroke-width:0.5px;}
.cls-3{fill:#1d1d1b;}
.cls-4{fill:#fff;}
.cls-5{fill:#2accff;}
.cls-6{fill:#fbb03b;}
.cls-6,.cls-7{stroke:#fbb03b;}
.cls-10,.cls-11,.cls-7,.cls-8{fill:none;}
.cls-9{fill:#0071bc;}
.cls-10{stroke:#c6fbff;}
.cls-10,.cls-11{stroke-width:0.75px;}

@media only screen and (min-width: 920px) {

  #options {
    grid-template-columns: 20% 80%;
  }

  #datadisp {
    display: initial;
  }

  #contdrop {
    display: none;
  }

  #datadispbottom {
    display: none;
  }

}
