<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>Weather</title>
    <meta name="description" content="Interactive weather info for a selection of capital cities" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='screen.css') }}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
  </head>

  <body>

    <div id="options">

      <div class="dropdown">
        <button class="dropbtn">Filter by Continent</button>
        <div class="dropdown-content">
          <div class="cont" id="10">World</div>
          <div class="cont" id="1">Africa</div>
          <div class="cont" id="2">Asia</div>
          <div class="cont" id="3">Carribean Islands</div>
          <div class="cont" id="4">Central America</div>
          <div class="cont" id="5">Europe</div>
          <div class="cont" id="6">Middle East</div>
          <div class="cont" id="7">North America</div>
          <div class="cont" id="8">Oceania</div>
          <div class="cont" id="9">South America</div>
        </div>
      </div>

      <div class="dropdown">
        <button class="dropbtn">Show Weather Conditions</button>
        <div class="dropdown-content">
          <div class="condition" id="0">All</div>
          <div class="condition" id="rainfall">Rainfall Days</div>
          <div class="condition" id="snow">Snowfall Y/N</div>
          <div class="condition" id="winteravg">Winter Average</div>
          <div class="condition" id="summeravg">Summer Average</div>
        </div>
      </div>

    </div>

    <div id="map">
      <object type="image/svg+xml" data="{{ url_for('static', filename='maps/worldmapfinal.svg') }}">
      </object>


      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1260.34 898.13">

        <g id="Pindrop">
          <path class="cls-3" d="M1198.36,35.21c0,3.6-5.5,10.4-5.5,10.4s-5.5-6.8-5.5-10.4,2.5-6.6,5.5-6.6S1198.36,31.61,1198.36,35.21Z" transform="translate(-8.98 -25)"/>
          <circle class="cls-4" cx="1183.88" cy="9.51" r="3.4"/>
        </g>
      </svg>



    </div>

    <script src="{{ url_for('static', filename='js.js') }}"></script>
  </body>

</html>
